.bulb{
    width: 100px;
    height: 100px;
    border-radius:30px;
    border: 5px solid black;
    background-color: yellow;
    
}
.card{
    background-color: blue;
    width: 300px;
    text-align: center;
    border-radius: 13px;
    position: relative;
}
.card img{
    width: 200px;
    border-radius: 10px;
    margin-top: 10px;  
    -webkit-box-reflect: right; 
}

.card button{
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;

}
.card i{
    scale: 0;
    color: white;
    position: absolute;
    right: 45%;
    top: 21%;
    opacity: 1;
    transition: .6s;
    
}
.siddhant{
    color: red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.sid{
    width: 34%;
    flex: 1 1 150px;
    border: 2px solid red;
    margin: 40px;
    
}
.color{
    display: flex;
    justify-content: center;
}

.button{
    border: 2px solid black;
    width: 100px;
    height: 300px;
    margin: 20px;
}
#red{
    background-color: red;
}
#gary{
    background-color: gray;
}
#blue{
    background-color: blue;
}
#pink{
    background-color: pink;
}
#yellow{
    background-color: yellow;
}